<form id="widget_form">
  <ol>
    <li><label>Name</label> <input type="text" name="title" value="Related from the Federal Register"/></li>
    <li><label>Primary Color</label> <input type="text" name="primary_color" /></li>
    <li><label>Secondary Color</label> <input type="text" name="secondary_color" /></li>
    <li>
  </ol>
</form>
<textarea id="widget_code"></textarea>

<script>
  function val_for_url(name) {
    return escape($('#widget_form input[name=' + name + ']').val())
  }

  $('#widget_form').change(function(){
    $('#widget_code').val(
      '<iframe src="http://govpulse.us/entries/widget?title=' + val_for_url('title') +
      '&primary_color=' +  val_for_url('primary_color') +
      '&secondary_color=' + val_for_url('secondary_color') +
      '"></iframe>'
    )
  });
  
</script>