<style>
  a {color: <%= @primary_color %>;}
  b {color: <%= @secondary_color %>;}
</style>
<% @search.entries.each do |entry| %>
  <div>
    <h3><%= link_to entry.title, entry_path(entry) %></h3>
  </div>
<% end %>
