.tab_container {
 display: block;
 height: 340px; 
 margin: 15px 0;
 position: relative;
}

.tab_container .nav {
  display: block;
  position:absolute;
  left: 0;
  top: 0;
  width: 100px;
}
#main .tab_container .nav li {
  border-bottom: 1px solid #E5EBEE;
  padding: 5px 0;
  margin-bottom:3px;
}

#main .tab_container .nav li.map {
  background: url(/images/tabs_map_icon.png) no-repeat top left;
}
#main .tab_container .nav li.chart {
  background: url(/images/tabs_chart_icon.png) no-repeat top left;
}

#main .tab_container .nav li a {
  display: block;
  padding: 0 40px 5px;
  font-size: 110%;
}
#main .tab_container .nav li.on a {
  font-weight: bold; 
}
.tab_content_container {
  position: absolute;
  left: 120px;
  top: 0;
  width: 808px;
}
.tab_content_wrapper {
  height: 320px; 
  overflow: hidden;   
  }
.tab_content {
  height: 320px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 10px;  
}

.tab_content img {
  float: left;
}