.tab_container {
 display: block;
 height: 340px; 
 margin: 15px 0;
 position: relative;
}

.tab_container .nav {
  display: block;
  position:absolute;
  left: 0;
  top: 0;
  width: 110px;
}
#main .tab_container .nav li {
  border: 1px solid #fff;
  margin-bottom:3px;
  padding: 10px 0;  
}

#main .tab_container .nav li:first-child {
}

#main .tab_container .nav li.map {
  background: url(/images/tabs_map_icon.png) no-repeat 5px 50%;
}
#main .tab_container .nav li.chart {
  background: url(/images/tabs_chart_icon.png) no-repeat 5px 50%;
}
#main .tab_container .nav li a {
  display: block;
  padding: 0 50px;
  font-size: 110%;
}
#main .tab_container .nav li.on {
  background-color: #E5EBEE;
  border: 1px solid #E5EBEE;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px; /* future proofing */
  -khtml-border-radius: 8px; /* for old Konqueror browsers */
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;  
  width: 125px;
}

#main .tab_container .nav li.on a {
 /* font-weight: bold; */
}
.tab_content_container {
  position: absolute;
  left: 120px;
  top: 0;
  width: 808px;
}
.tab_content_container.box_container {
  border: 7px solid #E5EBEE;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}
.tab_content_wrapper {
  height: 320px; 
  overflow: hidden;   
}
.tab_content {
  height: 320px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 10px;  
}
.tab_content img {
  float: left;
}

dl.info_block dt {
  clear: both;
  float: left;
  text-align: right;
  width: 150px;
}
dl.info_block dd {
  float: left;
  width: 300px;
}