<h1>Edit User Settings</h1>
 
<% semantic_form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>
 
<%= link_to "My Account", account_path %>