<div id='login' class="modal-box">
  <div id='modal-box-content' class="modal-box-content">
     <%= render :partial => 'users/login_register_form', :locals => {:user => UserSession.new} %>
  </div>  <!-- end login-box-content -->
</div>  <!-- end login-box -->