<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <%= javascript_include_tag 'jquery.js' %>
</head>
<body>
  <div id="widget_container">
    
    <%= yield %>
    
    <div id="widget_footer">
      <a href="http://govpulse.us">gov<span>pulse</span></a>
      <p>Federal Register entries</p>
    </div>
  </div>
  
</body>
</html>