<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <%= javascript_include_tag 'jquery.js' %>
  
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var li_height = 40;
      
      $("a.title").each(function(){
        $(this).css("margin-top", (li_height-$(this).height())/2 );
      });
      
      $("a.arrow").bind("click", function(){
          $(this).closest("ul").css("left", "-320px");
      });
      
    });
  </script>
</head>
<body>
  <div id="widget_container">
    
    <%= yield %>
    
    <div id="widget_footer">
      <a href="http://govpulse.us" title="govpulse">gov<span>pulse</span></a>
      <p>Federal Register entries</p>
    </div>
  </div>
  
</body>
</html>