<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <%# TODO HELP-RUBY CDN link below? %>
  <%= javascript_include_tag 'jquery.js' %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      

      //max-height: 210px
      
      $(".arrowholder, a.arrow").bind("click", function(e){
          e.preventDefault();

         $("#info_content").html( $(this).closest("li").find("div.full").html() );    
         $("#widget_wrapper").animate({left: -320}, 500);         
      });
      
      $("#back").bind("click", function(e){
        e.preventDefault();
        $("#widget_wrapper").animate({left: 0}, 300); 
      });
      
    });
  </script>
</head>
<body>
  <div id="widget_container">
    <%= yield %>
    <div id="widget_footer">
      <a href="http://govpulse.us" title="govpulse" class="govpulse">gov<span>pulse</span></a>
      <%# TODO HELP-RUBY make this link back to search results %>
      <a href="#" class="search_results">Your Federal Register</a>
    </div>
  </div>
  
</body>
</html>